*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

body{
    margin:0;
}
/*Footer hecho por vuestro papi de confianza*/
.footer{
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1em 0;
    background-color: #101010;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.enlaces{
    color: white;
}
.svg{
    width: 11em;
}
.cajacopy{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    font-size: 1.2em;
}
.cajaredes{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    font-size: 1.2em;
}
.cajasvg{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1em;
}
.redsocial{
    cursor: pointer;
    width: 1em;
    fill: white;
    transition: all .5s ease;
}
.fbook:hover{
    fill: #3b5998;
}
.insta:hover{
    fill: #dd2a7b;
}
.twitter:hover{
    fill: #08a0e9;
}
.snapchat:hover{
    fill: #fffc00;
}
.github:hover{
    fill: #572364;
}
@media  screen and (max-width:1000px) {
    .footer{
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
    }
}