*{margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
body{
    background-color: #e0eff5;
}
.header2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.header__h1{
    font-family: var(--display-font);
    font-weight: 700;
    margin-top: 2rem;
    font-size: 4rem;
}
.main{
    font-family: var(--normal-font);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.main__container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.main__perfil{
    margin: 2rem;
    position: relative;
    /* user-select: none;
    -webkit-user-drag: none; */
    
}
.main__star{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    padding: .5rem;
    color: white;
    width: 4rem;
    height: 4rem;
}
.main__star svg{
    color: orange;
    fill: orange;
    transform: scale(1);
    transition: .1s ease transform;
}
.main__star svg:hover{
    transform: scale(1.1);
}

.svg-lleno{
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
}
.main__desc{

}
.desc{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.5);
    /* backdrop-filter: blur(5px); */
    padding: 1rem;
    margin: 1rem 0;
    box-shadow:3px 6px 15px rgba( 0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
}
.desc__nombre{
    font-size: 1.5rem;
    
}
.desc__texto{
    font-size: 1.2rem;

}
.main__img{
    display: block;
    box-shadow:3px 6px 15px rgba( 0, 0, 0, 0.2);
    border-radius: 10px;
}
.main__botones{

}
.botones{
}
.boton{
    background: white;
    border:none;
    margin: 1rem;
    padding: 1rem;
    border-radius: 100px;
    width: 10rem;
}
.botones__like{
    background: green;
    
}
.botones__dislike{
    background: red;
}
.info{
    display: block;
    border:1px solid lightgrey;
    padding: 0 4rem;
    margin-bottom: 5rem
}

.controles {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    
}
.control {
    background-color: orange;
    width: 4rem;
    height: 4rem;
    margin: 1rem 0;
    border-radius: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    box-shadow:3px 6px 15px rgba( 0, 0, 0, 0.2);
    cursor: pointer;
}

.aleatorio {
}
.pause {
}
.anterior {
}
